name: Linters and tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

# Cancels all previous workflow runs for pull requests that have not completed.
concurrency:
  # The concurrency group contains the workflow name and the branch name for
  # pull requests or the commit hash for any other events.
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
  cancel-in-progress: true

jobs:
  prettier:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-node@v2
      - run: npx prettier@2.5.1 --check .
  editorconfig:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: DimensionDev/setup-editorconfig-action@latest
      - run: editorconfig-checker
  anti-trojan-source:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-node@v2
      - run: npx anti-trojan-source --files='packages/**/src/**/*.{ts,tsx,js}'
  type-check-and-jest:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: pnpm/action-setup@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "17"
          cache: "pnpm"
      - run: pnpm install
      - run: pnpm run tsc
